docker : pg_dump: warning: there are circular foreign-key constraints on this table:
At line:1 char:35
+ ... d-data.sql; docker exec taskflow-pg pg_dump -U postgres -d taskflow - ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (pg_dump: warnin... on this table::String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
pg_dump: detail: Task
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the 
constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict cEd33dtXQwOqcWYrZrVYGMq5TmsZ3x4HUVubrck0XoG2aVHbuM5zgheTQ94YIsN

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."User" DISABLE TRIGGER ALL;

INSERT INTO public."User" VALUES ('cmrw2oef7000023p2mcdc31bs', 'Demo User', 'demo@taskflow.dev', '$2b$12$Hu1eaQdLl6QCaPjJzKJxde9Xddf4Pi4g5lSOezOhVzjTAMzUuqiTG', NULL, 'ADMIN', NULL, false, true, 'light', '{}', '2026-07-22 12:42:28.483', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT INTO public."User" VALUES ('cmrw2oefp000123p2t2ntw74y', 'Jane Smith', 'jane@taskflow.dev', '$2b$12$Hu1eaQdLl6QCaPjJzKJxde9Xddf4Pi4g5lSOezOhVzjTAMzUuqiTG', NULL, 'EMPLOYEE', NULL, false, true, 'light', '{}', '2026-07-22 12:42:28.502', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL);


ALTER TABLE public."User" ENABLE TRIGGER ALL;

--
-- Data for Name: Workspace; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Workspace" DISABLE TRIGGER ALL;

INSERT INTO public."Workspace" VALUES ('cmrw2oefx000323p2mz67049v', 'Acme Corp', 'cmrw2oef7000023p2mcdc31bs', '2026-07-22 12:42:28.51');


ALTER TABLE public."Workspace" ENABLE TRIGGER ALL;

--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Project" DISABLE TRIGGER ALL;

INSERT INTO public."Project" VALUES ('cmrw2oegm000823p298e7o7h2', 'Website Redesign', '', 'Complete overhaul of the company website', 'cmrw2oefx000323p2mz67049v', '2026-07-22 12:42:28.535');
INSERT INTO public."Project" VALUES ('cmrw2oegt000a23p24229dndz', 'Mobile App', '', 'iOS and Android app development', 'cmrw2oefx000323p2mz67049v', '2026-07-22 12:42:28.542');


ALTER TABLE public."Project" ENABLE TRIGGER ALL;

--
-- Data for Name: Board; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Board" DISABLE TRIGGER ALL;

INSERT INTO public."Board" VALUES ('cmrw2oegy000c23p29k6djfqy', 'cmrw2oegm000823p298e7o7h2', 'Main Board');
INSERT INTO public."Board" VALUES ('cmrw2oejm000i23p25uhrm3tg', 'cmrw2oegt000a23p24229dndz', 'Main Board');


ALTER TABLE public."Board" ENABLE TRIGGER ALL;

--
-- Data for Name: Column; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Column" DISABLE TRIGGER ALL;

INSERT INTO public."Column" VALUES ('cmrw2oegy000d23p2c3lyi0al', 'cmrw2oegy000c23p29k6djfqy', 'To Do', 0);
INSERT INTO public."Column" VALUES ('cmrw2oegy000e23p2xo22aw9k', 'cmrw2oegy000c23p29k6djfqy', 'In Progress', 1);
INSERT INTO public."Column" VALUES ('cmrw2oegy000f23p2984v19th', 'cmrw2oegy000c23p29k6djfqy', 'Review', 2);


ALTER TABLE public."Column" ENABLE TRIGGER ALL;

--
-- Data for Name: Sprint; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Sprint" DISABLE TRIGGER ALL;



ALTER TABLE public."Sprint" ENABLE TRIGGER ALL;

--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Task" DISABLE TRIGGER ALL;

INSERT INTO public."Task" VALUES ('cmrw2oekj000w23p20wu07egn', 'cmrw2oegy000d23p2c3lyi0al', 'Design home page mockup', 'Create Figma mockups for the new home page layout including hero section, features grid, and footer.', 'TASK', NULL, NULL, 'HIGH', 'cmrw2oef7000023p2mcdc31bs', 'cmrw2oef7000023p2mcdc31bs', '2026-07-15 00:00:00', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, '2026-07-22 12:42:28.675', '2026-07-22 12:42:28.675');
INSERT INTO public."Task" VALUES ('cmrw2oekj000v23p2bdhx27a7', 'cmrw2oegy000f23p2984v19th', 'API endpoint documentation', 'Document all REST API endpoints using Swagger/OpenAPI.', 'TASK', NULL, NULL, 'LOW', 'cmrw2oefp000123p2t2ntw74y', 'cmrw2oef7000023p2mcdc31bs', '2026-07-25 00:00:00', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, '2026-07-22 12:42:28.675', '2026-07-22 12:42:28.675');
INSERT INTO public."Task" VALUES ('cmrw2oel8000y23p2ftu6k537', 'cmrw2oegy000g23p2tzqsntmm', 'Database schema design', 'Design and finalize the PostgreSQL schema for the application.', 'TASK', NULL, NULL, 'HIGH', 'cmrw2oef7000023p2mcdc31bs', 'cmrw2oef7000023p2mcdc31bs', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, '2026-07-22 12:42:28.676', '2026-07-22 12:42:28.676');


ALTER TABLE public."Task" ENABLE TRIGGER ALL;

--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ActivityLog" DISABLE TRIGGER ALL;



ALTER TABLE public."ActivityLog" ENABLE TRIGGER ALL;

--
-- Data for Name: Attachment; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Attachment" DISABLE TRIGGER ALL;



ALTER TABLE public."Attachment" ENABLE TRIGGER ALL;

--
-- Data for Name: ChatChannel; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ChatChannel" DISABLE TRIGGER ALL;



ALTER TABLE public."ChatChannel" ENABLE TRIGGER ALL;

--
-- Data for Name: ChatChannelMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ChatChannelMember" DISABLE TRIGGER ALL;



ALTER TABLE public."ChatChannelMember" ENABLE TRIGGER ALL;

--
-- Data for Name: ChatMessage; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ChatMessage" DISABLE TRIGGER ALL;



ALTER TABLE public."ChatMessage" ENABLE TRIGGER ALL;

--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Comment" DISABLE TRIGGER ALL;

INSERT INTO public."Comment" VALUES ('cmrw2oemz001c23p2hk4n60bj', 'cmrw2oelh001023p2tbdknluh', 'cmrw2oef7000023p2mcdc31bs', 'I''ve started working on the NextAuth setup. Should have a PR ready by tomorrow.', '2026-07-22 12:42:28.763');
INSERT INTO public."Comment" VALUES ('cmrw2oemz001d23p2oyt44mrq', 'cmrw2oelh001023p2tbdknluh', 'cmrw2oefp000123p2t2ntw74y', 'Great! Let me know if you need any help with the OAuth provider configuration.', '2026-07-22 12:42:28.763');
INSERT INTO public."Comment" VALUES ('cmrw2oemz001e23p2ka9qs64e', 'cmrw2oekj000w23p20wu07egn', 'cmrw2oefp000123p2t2ntw74y', 'Please share the Figma link when you have the first draft ready.', '2026-07-22 12:42:28.763');


ALTER TABLE public."Comment" ENABLE TRIGGER ALL;

--
-- Data for Name: Label; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Label" DISABLE TRIGGER ALL;

INSERT INTO public."Label" VALUES ('cmrw2oek2000o23p2cg63isuz', 'Bug', '#EF4444', 'cmrw2oegm000823p298e7o7h2');
INSERT INTO public."Label" VALUES ('cmrw2oek9000q23p28qhv27x2', 'Feature', '#3B82F6', 'cmrw2oegm000823p298e7o7h2');
INSERT INTO public."Label" VALUES ('cmrw2oeke000s23p22jj76b26', 'Enhancement', '#10B981', 'cmrw2oegm000823p298e7o7h2');


ALTER TABLE public."Label" ENABLE TRIGGER ALL;

--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Notification" DISABLE TRIGGER ALL;



ALTER TABLE public."Notification" ENABLE TRIGGER ALL;

--
-- Data for Name: PendingInvite; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."PendingInvite" DISABLE TRIGGER ALL;



ALTER TABLE public."PendingInvite" ENABLE TRIGGER ALL;

--
-- Data for Name: ReassignmentHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ReassignmentHistory" DISABLE TRIGGER ALL;



ALTER TABLE public."ReassignmentHistory" ENABLE TRIGGER ALL;

--
-- Data for Name: Subtask; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Subtask" DISABLE TRIGGER ALL;



ALTER TABLE public."Subtask" ENABLE TRIGGER ALL;

--
-- Data for Name: TaskLabel; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."TaskLabel" DISABLE TRIGGER ALL;

INSERT INTO public."TaskLabel" VALUES ('cmrw2oemn001723p29a7m9zac', 'cmrw2oekj000w23p20wu07egn', 'cmrw2oek9000q23p28qhv27x2');
INSERT INTO public."TaskLabel" VALUES ('cmrw2oemn001823p29jsp8x1k', 'cmrw2oelu001223p24i1cf62z', 'cmrw2oeke000s23p22jj76b26');
INSERT INTO public."TaskLabel" VALUES ('cmrw2oemn001923p2lpacx3rj', 'cmrw2oelh001023p2tbdknluh', 'cmrw2oek9000q23p28qhv27x2');


ALTER TABLE public."TaskLabel" ENABLE TRIGGER ALL;

--
-- Data for Name: WorkUpdate; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."WorkUpdate" DISABLE TRIGGER ALL;



ALTER TABLE public."WorkUpdate" ENABLE TRIGGER ALL;

--
-- Data for Name: WorkspaceMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."WorkspaceMember" DISABLE TRIGGER ALL;

INSERT INTO public."WorkspaceMember" VALUES ('cmrw2oefy000523p2uj8vo6wy', 'cmrw2oef7000023p2mcdc31bs', 'cmrw2oefx000323p2mz67049v', 'OWNER');
INSERT INTO public."WorkspaceMember" VALUES ('cmrw2oefy000623p2649o1ob3', 'cmrw2oefp000123p2t2ntw74y', 'cmrw2oefx000323p2mz67049v', 'MEMBER');


ALTER TABLE public."WorkspaceMember" ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict cEd33dtXQwOqcWYrZrVYGMq5TmsZ3x4HUVubrck0XoG2aVHbuM5zgheTQ94YIsN

